@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
  --fs-200: 0.75rem;
  --fs-300: 0.813rem;
  --fs-400: 0.875rem;
  --fs-h1: 2rem;

  --color-pure-white:#FFFFFF;
  --color-cream:#F2EAE2;
  --color-aurometal-saurus:#6C7289;
  --color-deep-aquamarine:#3D8168;
  --color-deep-aquamarine-hover:#1A4032;
  --color-Gunmetal:#1C232B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--color-cream);
}

main{
  background-color: var(--color-pure-white);
  width: 21.438rem;
  height: 38.188rem;
  margin: 2.375rem 1rem;
  border-radius: 10px;
}

@media (min-width: 600px) {
  main {
    display: flex;
    width: 37.5rem;
    height: 28.125rem;
    margin-top: 10.938rem;
    margin-left: 26.25rem;
  }
}

.mobile-poto{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.desktop-poto{
  display: none;
  width: 18.75rem;
  height: 28.125rem;
  border-radius: 10px 0 0 10px;
}

@media (min-width: 600px) {
  .desktop-poto{
    display: block; 
  }
  .mobile-poto{
    display: none;
  }
}

.text {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

@media (min-width:600px) {
  .text {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .perfume {
    margin-left: -0.031rem;
  }
}

.perfume {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fs-200);
  letter-spacing: 5px;
}



h1 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.75rem;
  line-height: 2rem;
  color: var(--color-Gunmetal);
}

@media (min-width:600px) {
  h1 {
    margin-top: 1.25rem;
    width: 14.75rem;
  }
}

.main-paragrap{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: var(--fs-400);
  line-height: 1.438rem;
  margin-top: 1rem;
  width: 295px;
}

@media (min-width:600px){
  .main-paragrap {
    margin-top: 1.5rem;
    margin-left: -0.031rem;
    width: 14.813rem;
  }
}

.prise {
  color: var(--color-deep-aquamarine);
  display: flex;
  margin-left: 0.031rem;
  margin-top: 1.5rem;
}

@media (min-width:600px) {
  .prise {
    margin-top: 1.813rem;
  }
}

.old-price {
  color: var(--color-aurometal-saurus);
  margin-left: 1.188rem;
  font-size: var(--fs-300);
  text-decoration:line-through;
}

button {
  width: 18.438rem;
  height: 3rem;
  margin-left: 0.063rem;
  background-color: var(--color-deep-aquamarine);
  border-radius: 10px;
  margin-top: 1.25rem;
  color: var(--color-pure-white);
}

@media (min-width:600px) {
  button {
    width: 14.75rem;
    margin-top: 1.875rem;
  }
}

button img {
  width: 14.39px;
  height: 16px;
  margin-right: 0.726rem;
}

button:hover {
  cursor: pointer;
  background-color: #1A4032;
}
